.wrapper {
  background: #1b1b1b;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.form {
  padding-top: 8%;
}

.form__inner {
  display: grid;
  grid-template-columns: 3fr 4fr;
}

@media (max-width: 600px) {
  .form__inner {
    display: block;
  }
  .form {
    padding: 20% 30px 0;
  }
}

/**
* Time
**/
h2, h3 {
  font-family: 'Arial';
  color: #fff;
  font-weight: 400;
}

h3 {
  color: #888;
  letter-spacing: 1px;
  margin: 0;
  line-height: 0;
}

h2 .hour {
  font-size: 8rem;
  font-weight: 600;
}

h2 .time, h2 .a {
  font-size: 2rem;
  letter-spacing: 1px;
}
 h2 .a  {
   color: #888;
   margin-left: 6px;
 }

/**
* Input
**/
input {
  background: #2a2a2a;
  border: 0;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px;
  width: 160px;
  display: inline-block;
  
  vertical-align: top;
  border-radius: 5px 0 0 5px;
}

/**
* Button
**/
input:hover {
  outline: none;
}
input:focus {
  outline: none;
}
button {
  border: none;
  background: #f36;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding: 11px 18px;
}
button img {
  max-width: 24px;
  height: auto;
}

/**
* Pulse
**/
.marker {
  margin: 25% auto 0;
  width: 220px;
  height: 220px;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@-webkit-keyframes pulse {
  0%  { -webkit-transform:scale(0.1,.1); opacity:0}
  20% { opacity:1}
  100%{-webkit-transform:scale(1.2, 1.2); opacity:0}
}

.marker [class*=pulse_] {
  border: 3px solid #f36;
  -webkit-border-radius: 50%;
  height: 220px;
  width: 220px;
  position: absolute;
  -webkit-animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;  
}
.marker [class*=pulse_].pulse_1 {
  animation-delay: -.3s;
  -webkit-animation-delay: -.3s;
}

